/* General */
$fontSize:14px;
$borderRadius:8px;
$transitionDuration:.2s;

$sidebarWidth: 220px;
$sidebarMiniWidth: 90px;


$sidemenuColor: --primary-color;
$sidemenuBgColor: --yellow-50;

$sidemenuActiveColor: --primary-color-text;
$sidemenuActiveBgColor: --blue-200;